<div class="form-group">
    <label for="comment">Comment</label>
    <input required type="text" name="comment" id="comment" class="form-control">
    <input id="parentId" name="parentId" type="hidden" value="<%= article.id %>">
</div>